body
{
    background-image: url("font.jpg");
    background-size: 1375px;
}
p
{
    color: ivory;
}
td
{
    color: ivory;
    border-radius: 10px / 5px;
}
img
{
    border-radius: 20px / 10px;
}